{% extends 'base.html' %}

{% block title %}Password Changed - E-Commerce Store{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Password Changed</h4>
                </div>
                <div class="card-body text-center">
                    <p class="lead">Your password has been changed successfully.</p>
                    <a href="{% url 'core:home' %}" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 